x-environment: &shared-env
  DB_PORT: 8086
  DB_TOKEN: mysecrettoken
  DB_ORG: my_org
  DB_BUCKET: my_bucket

services:
  influxdb:
    image: influxdb:latest
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: "admin"
      DOCKER_INFLUXDB_INIT_PASSWORD: "iuwfjhiushfuishfiushfisehuifhweiu23894tu39"
      DOCKER_INFLUXDB_INIT_ORG: my_org
      DOCKER_INFLUXDB_INIT_BUCKET: my_bucket
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: mysecrettoken
    volumes:
      - ./influxdb_data:/var/lib/influxdb2

  server:
    build: .
    container_name: tcp_server
    depends_on:
      - influxdb
    environment:
      DB_HOST: influxdb
      <<: *shared-env
    ports:
      - "9000:8080"

volumes:
  influxdb_data:
